*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    background-color: cornflowerblue;
    /* background: linear-gradient(to right bottom, green , cornflowerblue); */
}
.content{
    font-size: 50px;
}
.cursor{
    height: 5rem;
    width: 5rem;
    background-color: crimson;
    border-radius: 50%;
    position: absolute;
}